[2016-08-09 09:46] marcoscaceres opened #2 "Explore share manager instead"
It might be worth while to explore a having a ShareManager, that is similar to the PushManager, where share registration can happen for a given Service Worker (given that you can have multiple service workers, you need to actually state which service worker should receive the share event).

Thus, the manifest option probably won't work, because every service worker would receive the "share" event.

[2016-08-09 09:58] marcoscaceres commented on #2
Roughly, in index.html
[code]

And, as discussed already, SW.js

[code]

[2016-08-10 03:15] marcoscaceres commented on #2
Could you provide a bit more detail about what you see as the use case for that? What would an indexing/search engine do with that information? Right now, it feels like a "nice to have" feature to me, but not critical.

[2016-08-10 03:39] marcoscaceres opened #3 "Probably don't need text around failure"
For the purpose of just shopping the proposal around, we probably don't need the following because they are self evident:

[2016-08-10 03:41] marcoscaceres opened #4 "Reject method of ShareEvent"
We probably don't need this either... at least, there is nothing like that anywhere else in the platform:

[code]

A share error event, if one was to occur, would need its own "onshareerror" event handler, similar to other DOM APIs.

[2016-12-20 05:11] mgiuca opened #9 "[URL substitution approach] Need to define URL escape character set"
_Note: This applies to the alternative approach to web share target of embedding the shared data in a URL, (outlined as Approach 1 in the Chrome [Design Doc](https://docs.google.com/document/d/19E6s2m18uL87BqgQdr773GMfdr5Os40aw4asbh0xxrY/edit), not yet updated in this repo)._

We will need to specify a precise set of characters that get percent-encoded when the data is converted into a URL. For ex

[2017-02-06 14:18] kenchris opened #17 "url template looks like JS template literals but then isn't"
Why not change

```"/share?title={title}&text={text}&url={url}"```

into

```"/share?title=${title}&text=${text}&url=${url}"```

Now they refer to properties on a JS object (JSON)?

[2017-03-01 11:56] ayumihamsaki opened #18 "Implement Approach 2 (Service Worker share event handler)"
When I try to do Approach 2 and add this to my service worker, I get this error:

`Uncaught TypeError: Cannot read property 'addEventListener' of undefined`

Using Google Canary V58.

Also do we need to use this api when I have https://github.com/mgiuca/web-share installed? I am thinking both do the same thing?!

[2017-03-01 23:53] mgiuca commented on #18
To clarify the current state of the [explainer document](https://github.com/WICG/web-share-target/blob/master/docs/explainer.md), the code you are trying is this:

[code]

Approach 2 is not implemented in Chrome yet (we just finished implementing Approach 1, which is available in Chrome 58 when the #enable-experimental-web-platform-features flag is enabled). If we do implement Approach 2, we would

[2017-03-02 04:04] ayumihamsaki commented on #18
@mgiuca Hi Matt thanks for replying back to me. Here is some feedback for you...

I am using Google Canary V58 and Approach 1 works fine, here is my code I came up with:

[code]

Approach 1 vs Approach 2: For me my situation is as follows - Main Website is a PWA for Desktop and Tablets. I have a 303 Redirect for Mobile Devices going to AMP.

I look at this API for being targeted right now towards

[2017-03-02 05:04] mgiuca commented on #18
Hi again,

I looked at your code... this seems to be using Web Share, not Web Share Target (neither Approach 1, nor 2, both of which are around how to receive a share, not send one).

Are you trying to send a share or receive one? (From your AMP page.) (I don't know much about AMP.)

Could you elaborate on why Approach 2 is better? On a normal (non-AMP) website, Approach 1 can be implemented witho

[2017-03-02 05:36] ayumihamsaki commented on #18
Hi, I'm trying to do both send and receive shares, so I thought I'd try and add both these 2 web-share api's.

My thinking why Approach 2 is better is that maybe you could combine your API with something like service worker background sync and then it will work offline.

[2017-03-02 05:44] mgiuca commented on #18
You could use the service worker fetch API to catch the HTTP request coming in with the share data and process it in your service worker, so you could make either approach work offline.

The only advantages I can think of for Approach 2 are:
1. You can handle a share without opening a new tab. (For instance, automatically store it in a database, send a notification that says "I saved this link", b

[2017-04-13 19:51] #18 closed

[2017-04-20 03:50] mgiuca commented on #17
Hmm, in some sense it's neat to tie this into the same syntax as JS.

On the other hand, this isn't actually the same thing at all. It isn't JavaScript (it's JSON), it isn't the template literal syntax (it doesn't use backticks), and the body of those braces is not allowed to be an arbitrary JavaScript expression, just one of a handful of special names. It might be confusing to use that syntax.

W

[2017-06-07 05:53] mgiuca opened #19 "Need some way to de-duplicate web and native share targets"
If you have both a web app and a native app (on a certain platform), you may want to _prevent_ your web app from showing up as a share target if the user has your native app installed. Otherwise, your app may show up twice in the share picker and be confusing for the user (as it would look identical or near-identical).

This is the exact same problem (with Notifications) that prompted the developm

[2017-06-07 05:54] mgiuca commented on #19
@owencm

[2017-06-07 07:05] benfredwells commented on #19
I prefer the middle approach. it is like the last approach but doesn't tie install prompting together with share.

It makes me wonder if maybe the notifications API should be extended somehow instead of adding the getInstalledRelatedApps API. E.g. when requesting notifications having a flag `only_if_no_app_installed`.

[2017-06-07 07:27] mgiuca commented on #19
Ah, there's a middle approach in between 2 and 3, which is to have `share_target.disable_if_related_app_installed` (Boolean), and it disables if any related app, rather than pointing at a specific one. I'd prefer that over 2, is that what you're getting at?

Yeah I kind of thought of this too. It would certainly restrict the set of use cases for getInstalledRelatedApps to precisely what we specify

[2017-06-08 01:50] benfredwells commented on #19
Yep ... that's actually what I thought 2 was :)

Hmmmmm ... as discussed there seem like three approaches:
- just use prefer_related_applications to gate everything
- use getInstalledRelatedApps to gate everything (which will need something imperative for everything)
- have some way for each API to specify that native shoudl be preferred if present. As discussed this might mean making prefer_relat

[2017-10-06 00:55] mgiuca opened #23 "Support multiple share targets"
The current spec only allows a single share target (which implicitly takes the name of the app). Discussed [here](https://crbug.com/761007) on Chromium.

I was planning to *not* support this initially and see if there is demand for it. We should ensure we can extend the API to support multiple share targets later.

Allowing multiple share targets introduces significant complexity:

- You need to a

[2017-11-27 03:05] mgiuca opened #25 "Should fail checks at manifest parse time, not launch time"
There are a number of cases where the launching algorithm can fail, due to an invalid `url_template`, with no satisfactory way to give feedback to the user or developer. Instead of failing these checks silently at launch time, we should specify checks at manifest parse time, and if the template is invalid, specify that it be ignored (i.e., not registered) and that a [developer warning be issued](h

[2017-11-27 03:07] mgiuca opened #26 "Way to explicitly register share targets"
We may wish to provide a method for websites to explicitly request to prompt the user for handler registration. This would be limited to prompting to register the `share_target` already declared in the manifest (not dynamically creating share targets). For now, we have omitted such a method from the design to keep control in the hands of user agents. It is easier to add such a method later than re

[2017-11-27 03:10] mgiuca opened #27 "Properly define the secure context requirement"
A web share target is defined as "a web site in a [secure context](https://www.w3.org/TR/secure-contexts/#secure-context)".

We need to more precisely define this requirement. Note that the [secure context](https://www.w3.org/TR/secure-contexts/#secure-context) algorithm is defined over an environment settings object, not a URL. We need to block share targets that are specified from a non-secure m

[2017-11-27 03:15] mgiuca commented on #25
An interesting edge case is the manifest scope check:

This check is done *after* placeholder substitution, which means you could theoretically have a scope of `"/foo/bar"` and a `url_template` of `"/foo/{text}"`, and then if the shared text starts with `"bar"` it will succeed, but otherwise will fail. That is kind of bad. By moving the checks to manifest parse time, we will have to apply the chec

[2017-11-30 20:32] FluorescentHallucinogen opened #29 "Share binary data"
Is it possible to receive binary data (e.g. image file) using this API? If yes, how? Or only text data is supported?

E.g. user adds SVGOMG PWA (https://jakearchibald.github.io/svgomg/) to the home screen using Chrome on Android and want to open *.svg files using the installed WebAPK.

[2017-12-07 07:28] mgiuca opened #30 "Path escape if template parameter in path segment"
Consider a manifest with:

[code]

If the third-party app supplies text "..", it would allow the sharer to path-escape and direct the user to URLs that the share target never intended.

It's not clear how to resolve this; escaping '.' to "%2e" doesn't help because the [URL Standard explicitly says that "%2e%2e" also means parent directory](https://url.spec.whatwg.org/#double-dot-path-segment).

Th

[2017-12-07 09:05] annevk opened #31 "Why invent a new URL template syntax?"
Can't you reuse the processing model we have for `registerProtocolHandler()`? Maybe even abstract that and make it reusable?

[2017-12-08 05:25] mgiuca commented on #31
Good question. Really it's two questions: a) what should the syntax be, and b) what should the processing model (inside the spec language) be?

### Syntax

The reason we aren't using the "%s" placeholder syntax from `registerProtocolHandler` is simply because we need multiple named placeholders.

We can't just use positional placeholders because the fields {title, text, url} have no strong orderin

[2017-12-08 07:24] annevk commented on #31
I think you should at least use the ugly syntax as otherwise you cannot represent actual braces in these URLs. (Or you'd have to modify the URL parser to support templated URLs. Not sure we'd want to go that far though.)

[2017-12-15 04:36] mgiuca commented on #31
There is no such thing as a brace in a URL.

Or do you mean, we won't be able to support URLs with %7b and %7d in them, because running the parser on the template will convert the template braces into %7b and %7d, and thus we won't be able to distinguish them at substitution time? I share that concern, but...

I don't think it's a great policy to choose a syntax which we both consider "the ugly on

[2017-12-15 12:51] annevk commented on #31
Yes, you won't be able to distinguish at substitution time. At least for me that qualifies as much more substantive than a concern.

[2017-12-19 00:04] mgiuca commented on #31
Sorry, I wasn't clear.

I'm not suggesting that the behaviour be that %7b and %7d are treated as template substitution fields. That would just be broken. In other words, the following test case needs to work correctly:

[code]

If invoked with text = "abc", this should navigate to "?foo=%7btitle%7d&text=abc" --- "%7btitle%7d" should *not* be substituted.

So I'm not suggesting that we compromise t

[2017-12-19 07:19] annevk commented on #31
As I said before, the only way to properly make that distinction is by branching the URL parser. I'm not sure that's a good idea.

[2018-01-24 06:22] mgiuca commented on #31
@plinss raised on [w3ctag/design-reviews#221](https://github.com/w3ctag/design-reviews/issues/221#issuecomment-359945956) the existence of [RFC 6570](https://tools.ietf.org/html/rfc6570), an existing specification for URL template substitution.

I raised a number of issues with directly referencing this RFC (in particular, it seems largely incompatible with URL Standard), but the existence of this

[2018-01-24 07:21] annevk commented on #31
Please don't. Detail the complexity there.

I'm still not a big fan of using a different syntax from the established precedent.

[2018-01-24 07:46] domenic commented on #31
FWIW I don't think the %s in registerProtocolHandler is a very strong precedent, being a two-browser API with no ability for multiple named placeholders.

But yes, better to update the URL Standard with some special "URL template parsing mode" or similar, than to monkey-patch it.

[2018-01-24 07:49] annevk commented on #31
I think the other problem with partially adopting some syntax from elsewhere is developer confusion as it seems unlikely we'll be able to adopt RFC 6570 wholesale. So what looks familiar cannot actually be processed with the same kind of tooling.

[2018-01-25 01:42] mgiuca commented on #31
I doubt that developers will be confused upon encountering a curly brace syntax ("{text}") that is slightly different to that of RFC 6570. For one thing, I doubt many developers are even aware of this RFC (I wasn't). I originally based the syntax on a subset of Python's [string format syntax](https://docs.python.org/3/library/string.html#formatstrings). I don't think anyone is going to be confused

[2018-02-16 04:52] mgiuca opened #35 "Replace Placeholders algorithm needs to validate that keys are identifiers"
In the [replace placeholders](https://wicg.github.io/web-share-target/#dfn-replace-placeholders) algorithm, the key is not validated; it can contain any characters other than `}`.

Elsewhere in the spec, we say:

But we don't validate this in an algorithm.

This check should be added between steps 1.5 and 1.6 of the replace plaeholders algorithm.

[2018-02-16 05:43] #35 closed

[2018-02-20 06:25] #9 closed

[2018-02-20 17:23] kenchris commented on #26
Seems like a v2 feature

[2018-02-20 17:26] kenchris commented on #23
Could you create a "Feature Request" label or similar and attach to these issues you don't intent to solve for the first release?

[2018-02-20 17:27] kenchris commented on #4
As this is not in the spec now, can we close this?

[2018-02-20 17:28] kenchris commented on #3
So as your PR landed @marcoscaceres can you close this?

[2018-02-20 17:28] kenchris commented on #17
Ok, makes sense

[2018-02-20 17:28] #17 closed

[2018-02-20 17:39] #3 closed

[2018-02-22 03:52] ewilligers commented on #4
Note that events are still in the explainer.

We might want to mention in the explainer that proposed Service Worker [launch events](https://docs.google.com/document/d/1jWLpNEFttyLTnxsHs15oT-Hn8I81N0cwUa3JjISoPV8/edit) provide a more general way to satisfy the use cases of share events.

[2018-02-22 03:52] #4 closed

[2018-02-23 03:55] #30 closed

[2018-02-27 07:09] mgiuca commented on #26
Yep.

[2018-02-27 07:10] mgiuca commented on #23
I'll use the built-in "enhancement" label. Thanks for the suggestion.

[2018-03-22 18:04] nightpool opened #37 "2018 Status"
What's the current status of the Web Share Target proposal? I'm working with one of the current implementors of Web Share Target (https://github.com/tootsuite/mastodon/issues/5850) to enhance our current PWA and i'd like to share our experiences and feedback from users

Mastodon is an open-source, distributed microblogging platform, which many users use PWA provided by their individual servers (ma

[2018-03-22 23:53] mgiuca commented on #37
Hi @nightpool

Thanks and it's great to see that Mastodon has implemented WST. I just tried it out on Android Chrome Canary and it works great.

WST standards is one of our priorities for 2018. Right now we are going through the W3C TAG review process (you can follow along at w3ctag/design-reviews#221) and we have a meeting scheduled for next week.

This necessarily has to be user-agent-specific.

[2018-03-22 23:53] #37 closed

[2018-04-24 04:15] xfalcox opened #38 "How to validate a share_target url ?"
I can't get my webapp to show as a share target in the current Chrome Canary.

Here is the manifest:

https://meta.discourse.org/manifest.json

[2018-04-24 19:40] mgiuca commented on #38
Hi, it sounds like you have a Chrome issue, not an issue with the web standard. These should be reported to https://crbug.com/new.

Though I wonder if you've installed the app as a WebAPK (requires that it satisfies the [PWA Checklist](https://developers.google.com/web/progressive-web-apps/checklist)). Chrome for Android only lets installed PWAs register as share targets.

[2018-04-24 19:41] mgiuca commented on #38
Closing the issue. If it is still a problem, please report on https://crbug.com/new.

[2018-04-24 19:41] #38 closed

[2018-04-24 21:35] mgiuca commented on #38
I was wondering why you had `\u0026` and `%0A%0A` in there. `'\u0026'` and `'&'` are exactly equivalent in JSON so that will be the same. `'%0A'` and `'\n'` should be equivalent per the [URL standard](https://url.spec.whatwg.org/#c0-control-percent-encode-set). So that encoding that Rails is doing is fine, though it shouldn't be necessary.

I'm not sure why you want newlines in your URL. If you're

[2018-04-24 23:36] xfalcox commented on #38
This is a our URL at Discourse to create a new topic in Discourse:

https://meta.discourse.org/new-topic?title=title&body=text%0A%0Aurl

will produce:

![image](https://user-images.githubusercontent.com/1385470/39219070-c33dc5fe-47fe-11e8-9e85-08d0beb4e2af.png)

I tested a sharing a bunch of stuff from different Android apps, and we don't always get `url` and `text` so I'm just adding both to our

[2018-04-27 04:55] mgiuca commented on #38
Ahh I see, sorry I completely missed the fact that the URL was part of the "body" parameter (I thought you were trying to do some weird HTTP thing). That makes sense and _should_ work. Can you file a bug in https://crbug.com/new, and I'll try to look at it.

Note: We've [recently discussed](https://github.com/w3ctag/design-reviews/issues/221) changing this to a new syntax which would **not** allow

[2018-05-31 14:23] bard opened #39 "Approach 1 does not support a no-interruption UX flow"
The currently implemented approach ("Approach 1" in the explainer document) doesn't serve well applications that are meant to receive frequent shares without interrupting user flow, such as bookmarking or web-clipping applications. Ideally these applications would receive and handle a share without needing a UI switch and extra interactions, showing at most an overlay notification to confirm a suc

[2018-06-07 10:14] bard commented on #39
Indeed looks like it does. Is this in Chrome Canary or elsewhere already?

[2018-06-08 00:37] ewilligers commented on #39
No, the launch event design is still being refined.

[2018-07-07 15:59] josephfrazier commented on #29
I'm also interested in this. A potential implementation could simply use a [data URL](https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/Data_URIs) as the `url` value, right?

[2018-07-19 03:58] mgiuca commented on #31
Spec has been updated to remove the URL template (for unrelated reasons); we now construct a URL from individual key/value pairs, as per form submission.

[2018-07-19 03:58] #31 closed

[2018-07-19 04:05] mgiuca opened #45 "Omit field that is not present in ShareData, rather than setting it to empty string"
Currently, if a field is missing from the ShareData, it is set to the empty string (note that if the field is missing from the `"params"` in the manifest, it is omitted entirely; this is about if the field is present in the manifest but not in the share data payload). This means the target app cannot distinguish between data being omitted and being the empty string.

I think this is a hold-over fr

[2018-07-19 04:47] #45 closed

[2018-07-19 06:08] mgiuca opened #47 "Consider adding an "enctype" member to ShareTarget (so POST targets can accept application/x-www-form-urlencoded)"
As of today's update to the spec (#44), targets are allowed to request that they are called with a POST request (which they should if they plan to perform a side-effect, which the semantics of GET does not allow). However, it's specced as always being sent in `multipart/form-data` encoding.

This is in contrast to HTML form submission, which defaults `POST` submissions to `application/x-www-form-u

[2018-07-19 06:09] mgiuca commented on #47
@ewilligers

[2018-07-19 20:18] ewilligers commented on #47
[FormData](https://developer.mozilla.org/en-US/docs/Web/API/FormData) does not provide an enctype, and always uses `multipart/form-data`. I received the impression that `application/x-www-form-urlencoded` was a legacy feature that we might not want to propagate.

[2018-07-22 13:42] johnbillion opened #51 "Chromeless share target"
Has there been any discussion around the possibility of a share target which does not trigger a browser tab to be opened in order to complete the share?

For example, given a bookmarking or read-it-later service which saves the shared URL with no requirement to prompt the user for further interaction, it's not desirable to open a new browser tab which requires the user to subsequently close it.

I

[2018-07-22 13:46] johnbillion commented on #51
Apologies, this is covered in #39.

[2018-07-22 13:46] #51 closed

[2018-07-23 05:38] mgiuca commented on #47
Discussed offline. While [FormData](https://developer.mozilla.org/en-US/docs/Web/API/FormData) only produces `multipart/form-data`, XHR / Fetch are not biased towards `multipart/form-data`.

Both the [XMLHttpRequest](https://xhr.spec.whatwg.org/#xmlhttprequest) and fetch [Request](https://fetch.spec.whatwg.org/#requestinit) objects take a [BodyInit](https://fetch.spec.whatwg.org/#bodyinit) which c

[2018-07-26 04:05] mgiuca opened #55 "Add a non-normative section explaining future plans"
We could have a section similar to my [Extensibility of this API](https://wicg.github.io/web-share/#extensibility-of-this-api) section in Web Share. Note that I got some negative feedback on this in WICG/web-share#61.

Raised in w3ctag/design-reviews#221.

[2018-07-26 04:06] mgiuca opened #56 "Better descriptions of the semantics of each piece of ShareData"
Raised in w3ctag/design-reviews#221.

@dbaron: "It would probably be useful to say what a share consists of. I understand it to be a sort of arbitrary bundle of title, text, url, and in the future files. Right now that's stated in the example section but the relevant normative part of the spec seems to assume the reader knows what "the title", "the text", etc., are.

"I think it's useful to state

[2018-07-26 04:08] mgiuca opened #57 "Give example with POST and state POST semantics"
Raised in w3ctag/design-reviews#221.

@slightlyoff: "It would be great to see expanded examples, particularly ones that demonstrate how to deal with files and the POST mechanism from Service Workers. These don't seem to be in either the spec or explainer yet."

We shouldn't have files (since we don't support that yet), but we should give an example of receiving a POST, and non-normatively state th

[2018-07-31 03:29] #47 closed

[2018-08-06 03:51] mgiuca opened #59 "Consider whether to encode SPACE as "%20" instead of "+""
Due to the recent spec changes by @ericwilligers (re-using the [application/x-www-form-urlencoded serializer](https://url.spec.whatwg.org/#urlencoded-serializing)), we are now using that encoder instead of the hand-coded one I previously had in the spec (which was equivalent to calling [ECMAScript encodeURIComponent](https://tc39.github.io/ecma262/#sec-encodeuricomponent-uricomponent)).

The major

[2018-08-21 07:13] mgiuca commented on #59
@ericwilligers Do you have thoughts on this? Could you have a look at a bunch of sites like Facebook and other targets found in existing share sheets on the web, to see if they handle + correctly?

[2018-08-22 03:52] ewilligers commented on #29
#53 describes how we propose to share files: POST requests with multipart/form-data.

This won't be in the initial version.

[2018-08-30 13:40] #27 closed

[2018-09-10 17:03] kael opened #70 "Demo broken with new API (v2)"
Seems the demo is broken using the new Web Share Target API (v2):

[code]

The handler is registered with Chromium 65 Linux, it used to work with v1, but now when sharing a link, Chome opens a blank page without nothing more, no HTTP request pointing to the `uri_template`.

I tried to uninstall the app by deleting it from `.local/share/applications/*` but not sure I deleted the correct or the only

[2018-09-15 13:56] josephfrazier commented on #29
Thanks for the update, @ewilligers! I'll follow along over there

[2018-09-17 04:01] kael commented on #70
API v2 is now [fixed in Chrome Canary](https://bugs.chromium.org/p/chromium/issues/detail?id=883580), and the demo works.

[2018-09-17 04:01] #70 closed

[2018-11-13 09:14] LJWatson opened #73 "Migration to WebApps WG: Implementor interest?"
This specification has been proposed for migration to the [WebApps WG](https://w3c.github.io/charter-drafts/webapps-2019) (which is expected to partly replace the WebPlat WG). For this to happen, we need expressions of interest/intent to commit from at least two implementors.

Please let us know if you plan to implement this specification, or if you can point to any publicly documented expressions

[2018-11-13 09:32] ewilligers commented on #73
Chrome's implementation is in progress - [Intent to Implement](https://groups.google.com/a/chromium.org/d/msg/chromium-dev/HdrXCCQ9UXo/9HUFqUymCgAJ).

[2018-11-14 05:31] marcoscaceres commented on #73
Sorry, wrong repo 😣 I'm deleting my comment above.

[2018-11-16 00:19] marcoscaceres commented on #73
Mozilla doesn't plan to implement this specification at the moment, but we would like to see Web Share Target continue  be standardized together with the Web Share API. We feel that Web Share without Web Share Target wouldn't be ideal, because it risks further centralization and unfair preference to particular silos.

Thus, we are supportive of it being part of the Web Apps WG charter and Tantek h

[2018-11-21 02:22] mgiuca opened #74 "Consider removing ability to filter on file extensions"
See discussion starting on this [Chromium code review](https://chromium-review.googlesource.com/c/chromium/src/+/1240867/36/content/renderer/manifest/manifest_parser.cc#31). Pasting relevant quotes:

@mounirlamouri:

@ericwilligers:

@mgiuca:

My position remains the same as in the above quote.

[2018-12-01 21:17] VioletPixel opened #75 "Incorrect Behavior in Chrome 72"
This API is broken in Chrome 72 on Android.  The value of the`url` parameter is always blank and the value of the `text` parameter contains the URL.  The `title` parameter seems to work just fine though!

<img width="352" alt="issue" src="https://user-images.githubusercontent.com/6766849/49332957-54ee2880-f56b-11e8-9fbe-7d8d9c92cdf0.png">

[2018-12-12 01:53] mounirlamouri opened #76 "ShareTargetFiles.accept shouldn't allow extensions"
See: https://wicg.github.io/web-share-target/level-2/#sharetargetfiles-and-its-members

This is copying the accept property from HTML forms but HTML forms came with years of legacy. The web has moved on and we use MIME Type instead of file extensions. We shouldn't encourage using file extensions.

[2018-12-12 03:57] ewilligers commented on #76
#74 and #76 are the same issue.

[2018-12-12 04:02] mounirlamouri commented on #76
Oups, thanks :)

[2018-12-12 04:02] #76 closed

[2018-12-12 04:33] mounirlamouri commented on #74
My apologies for assuming it came from the HTML Forms. They looked very similar.

I would rather have the callers convert the file extension to a guessed mime type rather than supporting file extensions. For example, a docx file could be converted to a mime type and be sent to the web app. Why requiring support for file extensions in the entire pipeline?

I also wonder if we could look at what And

[2018-12-12 05:01] mgiuca commented on #74
Android [intent filters](https://developer.android.com/guide/components/intents-filters) do seem to only deal with MIME types, not file extensions. However, Android is much less focused on files in general (and editors for particular file types) than a desktop environment, and that is essentially what we're trying to build. (Even though Web Share Target isn't particularly desktop-focused, we will

[2018-12-13 15:54] glennhartmann commented on #75
Hi! Thanks for the report.

I'm not an authority on this repo, but I believe its purpose is to discuss the specification itself, and not any particular implementation.

Generally it's best to file Chrome implementation bugs (including Chrome for Android bugs) at http://crbug.com.

For now I've copied this into the Chromium bug tracker (I filed it as two bugs, but we may end up merging them).

http

[2018-12-13 18:26] #75 closed, assigned to nobody

[2018-12-13 23:53] ewilligers opened #77 "Skip bad files entries instead of failing the whole share target"
Algorithm steps 7.1 and 7.3 of [post-processing the share_target member](https://wicg.github.io/web-share-target/level-2/#share_target-member) currently force the entire share target to be rejected if we receive an empty `name`, or if an `accept` entry is not acceptable. We can simply discard the offending ShareTargetFiles dictionary.

[2018-12-13 23:57] ewilligers commented on #77
If an `accept` entry is not acceptable, we can discard that `accept` entry only.

[2018-12-13 23:58] mgiuca commented on #29
This is now supported in the Level 2 spec:
https://wicg.github.io/web-share-target/level-2/

It's being implemented in Chrome (not rolled out yet) but the spec side is done.

[2018-12-13 23:58] #29 closed

[2018-12-17 07:37] #77 closed

[2018-12-19 16:32] mounirlamouri commented on #74
I don't know what other browsers do but when you open foo.ext, Chrome will first try to find if it is aware of the MIME type associated with ".ext". If it can't find anything, it will ask the system if it is aware of something. All the work done after that is based on the MIME type. I wonder if it would be more interesting if in order to solve __1.__ above, we may want to add an API that registers

[2018-12-19 22:01] ewilligers commented on #74
Implementations can do what makes sense on each platform.

"An implementation MUST support [filtering on MIME types](https://wicg.github.io/web-share-target/level-2/#dfn-filtering-on-mime-types) or [filtering on file extensions](https://wicg.github.io/web-share-target/level-2/#dfn-filtering-on-file-extensions), or both."

[2018-12-19 22:55] ewilligers commented on #74
This is also being worked on - the [explainer](https://github.com/ewilligers/file-handling/blob/master/explainer.md) was presented to the Service Worker and Web Platform working groups at TPAC. This allows installed web applications to register themselves to handle specific MIME types and/or file extensions.

I will be sending an Intent to Implement soon.

[2018-12-20 08:44] mgiuca commented on #74
I think what @mounirlamouri means is not an API for registering an app as a MIME type handler, but an API for registering a {file extension, MIME type} association pair, so that instead of having extensions here, we just have MIME types here and rely on the dynamically updated mapping table to map extensions to MIMEs.

I don't see how that fits here, though, or how it would work in general. Would

[2018-12-20 18:16] ewilligers commented on #74
No, the spec isn't written to achieve compat in which share targets are presented to a user, e.g.

We could emphasize with a non-normative note that if a web app supports only `[".mp4"]` or only `["video/mp4"]`, some implementations will not be able to include the app when presenting the user with a choice of share targets.

[2018-12-20 23:51] ewilligers commented on #74
We could require each files entry to specify at least one mime type if it specifies any extensions, and to specify at least one extension if it specifies any MIME type more specific than `*/*`. This would guide web authors towards supporting the widest range of implementations/platforms.

[2019-01-02 05:06] mgiuca commented on #23
@ericwilligers

I'm still concerned that this creates a wide surface for spoofing, for fairly small benefit.

Why do you need two separate GET/POST actions? Do you want them both to show up at the same time in the intent picker? Why not just make it a POST action?

[2019-01-02 14:51] mounirlamouri commented on #74
Would it be reasonable to have something like:
[code]

With a format like this, we could guarantee that each entry has at least one valid content type and a valid mime type (named `contentType` for consistency with other specs). It's a bit heavy handed, I realise :)

[2019-01-02 19:37] ewilligers commented on #74
There is no obvious extension for applications supporting `*/*` or `type/*`

[2019-01-03 00:19] mgiuca commented on #74
If we went this route, I assume "*/*" would implicitly map to extension "*" without any need to specify it.

For "type/*", we'd want to let you specify a list of extensions. For example, if your app is accepting "image/*", on systems that don't know about MIME types, you'd want that to translate to ["gif", "jpg", "jpeg", "png"] and possibly other image formats your app supports.

[2019-01-15 05:18] raymeskhoury commented on #74
@mounirlamouri @ericwilligers

Please correct me if I'm wrong, but I *think* that we're trying to solve a few problems here:
1) To head toward a web platform that primary supports mime types (I think you're saying this is the direction other platforms are heading)
2) To ensure that we support embedder platforms that primarily support mime types over file extensions
3) We need to still support embe

[2019-01-15 05:37] ewilligers commented on #74
Would the following approach meet all the requirements?

[code]

Each extension may only appear once in the extension mapping. Every MIME type in an accept must appear in the extension mapping. If an accept contains a `type/*`, at least one matching content type must appear in the mapping.

This guides developers towards specifying share targets that should work on all platforms. If the platform o

[2019-01-15 17:04] mounirlamouri commented on #74
It's not really "head toward" but as you pointed out later in your reply, the platform is rarely using extensions. I think there is a valid use case around custom files here though.

👍

I think the UA will handle this for regular files as it does today. The real UC is the point below.

👍

I'm not sure what that means but in general I like having low level APIs that we can compose together. I reali

[2019-01-22 05:14] ewilligers commented on #74
We could leave it optional, and then any web share targets that omit the mapping would not appear in the share menu on platforms like Windows that use extensions.

I don't think we should be introducing a new web standard for the common MIME types and their common extensions. Every time a browser added support for a new image or video format, they would want it added to the list. We'd need a new r

[2019-01-22 06:36] raymeskhoury commented on #74
@benfredwells for thoughts also

Thanks @ericwilligers. So the main point of contention seems to be whether we bake in a default mapping of file extensions to mime types into the platform? The downsides you listed are:
1) Developers may not understand what types are included in the default mapping and so may be surprised if a file extension they expect to show up for a particular mime type doesn't

[2019-01-22 18:21] mounirlamouri commented on #74
@inexorabletash there is already a mapping in browsers and they otherwise rely on the system mappings.

I am not sure that in practice this would be a burden for authors as they would in most cases rely on known extensions/mime types already handled by the browsers. It would only apply when they have to deal with custom files.

[2019-01-22 18:46] inexorabletash commented on #74
Current browser/system mappings are inconsistent across browsers, operating systems, and even individual user's systems. For example, on Windows, the mapping of extension to mime type depends on what applications are installed. "docx" may be known on a machine where Microsoft Office is installed, or be an unknown extension on another. Developers will not be aware that "docx" needs to be treated as

[2019-01-22 19:10] reillyeon commented on #74
The goal from my perspective is to avoid cases in which files cannot be shared because the developer missed a particular MIME type or extension that is only applicable on a minority platform. In my opinion the mapping table suggested by @ewilligers mitigates this problem but only if we don't fall back to system defaults because as @inexorabletash points out those expand the testing matrix. The beh

[2019-01-22 19:42] mounirlamouri commented on #74
@inexorabletash my intent is for things like docx to be handled by the author (with a extension/mime type association in the manifest) while basic web platform types like jpg, gif, png, webm, wav wouldn't need to have an association as browsers know about these for certain. The intent here is to avoid a design that fully relies on file extensions or requires verbose mandatory mappings.

I like @re

[2019-01-22 19:57] reillyeon commented on #74
The default mapping could be empty, so all file extensions need to be manually specified by the developer. This doesn't actually seem so bad because native file selection APIs already require developers to list the file extensions they are interested in. This only adds the requirement that they must be mapped to a MIME type which helps us with the desire for all content entering the platform to be

[2019-01-22 20:04] mounirlamouri commented on #74
The mapping can be a bit tedious as it can lead to mistakes or omissions (is .jpeg included?). Also, it can make wildcard a bit hard to handle: how can one map `image/*`?

[2019-01-22 20:35] reillyeon commented on #74
The problem as I see it is that extensions are not standardized anywhere so it has always been up to developers to know what extensions they want to support. Yes, some will forget to include `.jpeg` but that's a bug I don't see a way to fix without agreeing to take on that standardization burden or inviting cross-platform inconsistencies. The solution proposed here is essentially what Windows does

[2019-01-23 01:05] benfredwells commented on #74
@raymeskhoury asked my opinion so I'll give it, but y'all should trust the experienced specs folks more than me.

My opinion is that the original proposal _"lists containing MIME types and/or file extensions (current spec, reviewed by TAG, same syntax as HTML forms)"_ is both simpler and clearer than the mapping that has been outlined. Chrome Apps used this and we had zero complaints: it just work

[2019-01-23 05:50] raymeskhoury commented on #74
Thanks all for chiming in.

Hmm, I think that would only make it marginally less tedious. Thinking about it some more, it seems to me that we shouldn't go down the path of forcing developers to specify a full mapping. We know that most apps are going to use the same common types and we're asking developers to put the same mapping down every time.

I think that's a good way to summarise the benefit

[2019-01-23 20:03] reillyeon commented on #74
If we do attempt (2) a look into the history of `kPrimaryMappings` in Chromium's [net/base/mime_util.cc](https://cs.chromium.org/chromium/src/net/base/mime_util.cc) may be a good starting point as it is "for mappings that are critical to the web platform." If they are indeed critical then they should probably be in a spec somewhere.

[2019-01-23 21:21] mounirlamouri commented on #74
To clarify, I didn't suggest to have a mapping in the spec but to have UA have a default mapping (I do not believe having it defined in spec is mandatory given that the Web already need this to work). What I suggested is more for the website to be able to specify its custom mapping. In other words, when a file is received, the UA could check its hard coded mapping, the system mapping and the site

[2019-02-05 05:40] raymeskhoury commented on #74
@marcoscaceres @aliams do other browser vendors have thoughts on this?

I'm going to number the proposals we've had so far:
1) (Current spec): Let the app specify a list of mixed extensions/mime types. e.g.
`.gif, .png, image/gif`
**Pro:** Simple
**Con:** Means that the developer might only specify mime types OR might only specify extensions, which means that things might not work well cross-platf

[2019-02-09 00:23] aliams commented on #74
Thank you @raymeskhoury for enumerating the options discussed as well as providing summaries for the pros and cons. I think I like option 1 as it seems to keep things simple and does not involve automatically determining values on behalf of the developer as you would get with option 2. I think options 3 and 4 can make it challening for web developers to keep track of the various extensions and con

[2019-02-12 05:03] raymeskhoury commented on #74
@jakearchibald can you suggest some developers who would want to use web share/file handlers who might have an opinion on the above? Thanks!

[2019-02-13 15:50] jakearchibald commented on #74
I have opinions! 😄

I've only skimmed the thread (a summary might be useful if you're looking for others to join in), so apologies if I'm retreading old ground.

Mixing mimetypes & extensions already happens with [the accept attribute on input elements](https://html.spec.whatwg.org/multipage/input.html#attr-input-accept).

Inferring mimetypes from extensions already happens with `<input type="file

[2019-02-23 20:28] PaulKinlan commented on #23
If I am Twitter I might want to share just a link and text using my existing URL structure (they have a 'web intent' url for sharing), and post images via the POST method to an existing form.

If I have just one POST for my entire App it and I wanted to offer a share URL or Share Image function then using `params` object I would be forced to define a file so I could handle the image share, which m

[2019-03-05 07:25] tomayac commented on #74
+1 to @jakearchibald's proposal to align the behavior of  `<input type="file">` and Web Share Target, that is, option 2. The elegance of this is that it allows both for sweeping `something/*`, as well as for `something/specific` or even `something/specific+json` to be specified by developers, depending on their needs or their app's capability.

Great point in Jake's comment that apps through wasm

[2019-03-05 09:15] jakearchibald commented on #74
Btw, I like the idea of option 3, but only if it can be provided to other file-accepting APIs. It'd be terrible if we end up in a place where I can Share Target a file, but can't `<input type="file">` it, despite them having the same `accept` instructions.

I guess you could have a format like `accept="foo/bar=.foo, .jpg"`. This would allow the browser to warn about types/extensions that don't hav

[2019-03-05 23:15] raymeskhoury commented on #74
Thanks all, it seems like we're converging on option 2 as a step forward and working out something like option 3 in the longer term. We will need to update the spec slightly to give browsers the freedom to guess the matching mime type/extension but otherwise I think we're ok. @jakearchibald any suggestions on where we should create an issue to track that?

[2019-03-06 11:21] jakearchibald commented on #74
https://github.com/whatwg/html/, since that's where https://html.spec.whatwg.org/multipage/input.html#attr-input-accept is defined.

[2019-03-29 11:43] ewilligers commented on #2
This issue is obsolete, now that we settled during the TAG review on receiving shares as GET or POST requests.

[2019-03-29 11:43] #2 closed

[2019-03-29 12:29] ewilligers commented on #74
Raised https://github.com/whatwg/html/issues/4459.

[2019-03-31 23:59] #74 closed

[2019-04-18 18:40] HenryJian opened #81 "Android and Web Share Target have different model for text sharing"
The current WST specs distinguishes between sharing a text file (WST v2) and sharing naked text (WST v1). However, Android doesn't make such distinction. An apk with a `<data android:mimeType="text/plain"/>` inside its `<intent-filter>` will respond to both text file sharing and naked text sharing.

This causes problems for installed web apps on Android (through "add to home screen" on Chrome):
1.

[2019-04-22 07:07] EtienneBruines commented on #23
To continue this discussion from a web-programmer point-of-view: I can imagine communication-apps to want to expose multiple targets, for the favorite contacts or most-used groups.

Doing this through the `manifest.json` could work, if multiple targets were allowed.

- An optional `name` attribute would be nice
- Prioritizing might be done through the order in which they appear in the `manifest.js

[2019-04-26 03:10] ewilligers commented on #81
For case 1, we can generate a temporary file name: `share` _123456_ `.txt`

For case 2, we can append the text file contents into a single string, and truncate. This keeps with the existing Web Share design of the text field being a single string.

Truncation occurs if `method=GET`. We can add a warning to the spec.

[2019-07-12 06:14] mgiuca commented on #57
This issue has come up in the design of ST, about how to deal with a POST share target and send the data to the newly opened page without roundtripping via the server. It can be done but it's non-trivial and hard to figure out (see [Squoosh](https://github.com/GoogleChromeLabs/squoosh/blob/master/src/sw/util.ts) which handles share targets by a complex dance of waiting for the client to open, then

[2019-07-12 06:15] mgiuca commented on #57
@raymeskhoury

[2019-07-31 09:05] jakearchibald opened #84 "Simpler & more robust model for getting the share data clientside"
Right now, if you want to handle the share data on the client, you need to add a service worker, redirect the response, serve the response, then postmessage the shared data to the page.

This is a little cumbersome, but will also totally fail if the browser has cleared the service worker away (to regain space, or due to corruption).

It feels like there should be a way to specify that the share sh

[2019-07-31 23:45] raymeskhoury commented on #84
@fallaciousreasoning and @mgiuca have been thinking about how to make this easier

[2019-07-31 23:52] fallaciousreasoning commented on #84
We've been considering a `window.launchParams.request` proposal, which would be more general than just `shareData`. `launchParams` would also give us somewhere sane to attach files that a PWA might have been launched with (and potentially other launchy data, in future).

[2019-08-01 01:58] mgiuca commented on #84
Yeah we got this feedback from elsewhere and it's definitely an issue. However, I feel like the cleanest solution is not to have a separate mode where you expose the share data via the DOM (instead of POST), but rather (as @fallaciousreasoning mentions), to expose the POST data through the DOM.

I prefer to use POST for share target since it's the simplest way to transfer data to a web page. The p

[2019-08-01 06:47] jakearchibald commented on #84
It's ideal if the intent is to handle it on the server. But if the intent is to always handle it client side, transferring large files to the server is just a waste of time and bandwidth.

Also, some static hosts error on POST.

[2019-08-02 00:31] mgiuca commented on #84
Both of those issues can be solved by having the service worker either serve the page from cache, or proxy the request to the server as a GET request.

I wanted this to be designed as simple, composable building blocks. What I like about service workers is that they allow us to design APIs with the simple state model of HTTP / Web 1.0 (data is transferred via HTTP requests and responses) but gives

[2019-08-02 07:21] jakearchibald commented on #84
From the OP:

The lifecycle of the service worker and share target are independent

[2019-08-05 04:48] fallaciousreasoning commented on #84
I agree that is a Not Good Thing, but I think it would be solved by providing access to the request in the document.

Interestingly, the way WebShareTarget is currently written, it doesn't depend at all on ServiceWorkers existing, or being implemented (though the way we're recommending it be used does). Without them, a POST would be sent to the server, which could dump the data straight into the p

[2019-08-05 05:43] jakearchibald commented on #84
As I said above:

[2019-08-08 05:08] mgiuca commented on #84
FYI, a Chrome issue about this: https://crbug.com/983591

[2019-09-19 07:10] mgiuca commented on #84
OK I just had a F2F with @raymeskhoury and @jakearchibald .

On the issue of service worker being deleted when the app is installed: we think regardless of WST, we this is a concern. You don't expect your installed native apps to suddenly disappear (or be unavailable offline) just because you haven't used them in awhile. Jake suggested that there's the [Persistent Storage API](https://developers.g

[2019-10-03 22:43] marcoscaceres commented on #73
Closing again... will spin up a new issue.

[2019-10-03 22:43] #73 closed

[2019-10-03 22:46] marcoscaceres opened #85 "Intent to migrate to WebApps WG"
We are interested on the Mozilla side in prototyping the Web Share spec. We are primarily looking at prototyping for Fenix. https://github.com/mozilla-mobile/fenix/issues/5783

Related Gecko bug for that will link to DOM/Manifest work:
 https://bugzilla.mozilla.org/show_bug.cgi?id=1476515

@NotWoods and I will be deep diving into the spec over coming weeks, so will likely have questions, comments,

[2019-10-03 22:57] marcoscaceres opened #86 "Drop levels"
As we are dropping the levels for Share, we should drop level for Target.

[2019-11-25 04:57] mgiuca opened #87 "Intent to Migrate to WebApps WG"
## Intent to Migrate: Web Share Target

Originally proposed at #85. Living document.

### Working group decision to adopt

It's part of the deliverables:
https://www.w3.org/2019/05/webapps-charter.html#deliverables

### Proposal

https://github.com/WICG/web-share-target

Note that if migrated to the WG, we may fold the Web Share Target specification into the existing [Web App Manifest spec](https:

[2019-11-25 04:58] mgiuca commented on #85
I started a new ticket since we want the survey to be in the text of the issue. See #87.

[2019-11-25 04:58] #85 closed

[2019-11-29 03:52] mgiuca commented on #87
@marcoscaceres I'm finished writing this up. What now?

[2019-11-29 05:21] marcoscaceres commented on #87
Just need to double check that Mozilla folks are still behind this (last I checked, we were). That gives us the second potential implementer and quorum to move this the WebApps WG.

[2019-11-29 05:23] marcoscaceres commented on #87
I'll prepare the CFC for the WebApps WG.

[2019-12-20 14:30] ANSB commented on #23
Agree with this feature. Actually I'm working on a PWA which send an adress to google maps and, using share targer, get back the location. But my PWA as a "new.html" page with this feature (so I register new.html as the targer in the manifest, but I'm also an "edit.html" page with the same feature....
What I plan to to is use POST rather than GET in order to no trigger directly the JS of the targe

[2020-04-21 16:37] incognico commented on #57
Maybe this is a bit off-topic but consider my use case:

I have a simple PWA which basically is a upload form with an input type file for an image and a description input type text. The idea was to use the share target to directly share an image, preview it in the PWA, let the user add a description and submit the form.

It is all well working until the actual upload part as you can't just add a F

[2020-04-22 06:54] mgiuca commented on #57
That is a very interesting edge case. Probably just something we haven't thought of: essentially you want to receive a share but not post it to the server right away, but load it up into a web form that can be posted using conventional form posting?

I'd say your workaround is correct (use XHR to post it is the only way to go, if you are intercepting the initial share POST using a service worker).

[2020-05-19 07:31] AStove opened #89 "Support for hashfragments in share target action"
The use of '#!' in the share target action is not supported. But for (older) SPAs this would be usefull. The #! is usually a part of the routing but could be used for other extra information aswell.

[code]

[2020-05-19 07:39] AStove opened #90 "Support for custom protocols in share target"
One limitation I'm facing is, imagine a SPA that is connected to a backend with a websocket. This application is intended to run as a single instance. It's in a state that cannot be simply created again in a new instance. When using a share target, it always opens a new instance, which is undesirable in this case.

Expanding the navigational scope of share target action to include [custom protocol

[2020-05-19 07:41] AStove commented on #90
Or perhaps to not expand the scope too much, just change the protocol:
[code]

Results in a call to `myapp://mydomain.com/share`

[2020-05-20 01:14] mgiuca commented on #89
I think this is supported right now (weirdly, it looks like we override the query, but not the fragment), according to [this algorithm](https://wicg.github.io/web-share-target/#launching-the-web-share-target).

Does the fragment get deleted in the actual implementation?

[2020-05-20 01:15] mgiuca commented on #90
I think this is out of scope of Web Share Target. There's a feature request for [protocol handlers to be registerable from within the manifest](https://github.com/w3c/manifest/issues/846).

[2020-05-20 01:15] #90 closed

[2020-05-20 10:18] AStove commented on #89
I've tried with `"action": "/#!/share",` on android/chrome and it does not seem to route my app to the correct location. Wheras if I type in manually https://mydomain.com/#!/share it does route me to the correct page.

Don't take my word for it though, I'm not sure. There's a lot of caching going which is not ideal for testing.

[2020-06-04 08:56] marcoscaceres opened #93 "ReSpec cleanup"
It would be nice to do a cleanup of the ReSpec usage in this spec. In particular, all the `data-cite=`s should go where they are not needed.

http://respec.org/xref/ can be used to find terms.

The [shorthands guide](https://github.com/w3c/respec/wiki/Shorthands-Guide) can also help 🙏.

That will make the spec more maintainable, make it easier to contribute to, and warn us if any links break.

[2020-06-05 05:09] marcoscaceres commented on #87
Ok, [got a 👍 from Mozilla](https://github.com/mozilla/standards-positions/pull/355)... let's move this over as we now have two implementers interested. 🎉

[2020-06-05 05:30] marcoscaceres commented on #87
Notified the WG...
https://lists.w3.org/Archives/Public/public-webapps/2020AprJun/0008.html

[2020-06-05 05:31] marcoscaceres commented on #87
@sideshowbarker, could you transfer this repo over to the W3C for us?

[2020-06-05 05:40] annevk opened #94 "Reference Encoding Standard for UTF-8"
Using both the Encoding Standard and the RFC is confusing, in particular as the latter allows variations in decoding.

[2020-06-05 06:52] sideshowbarker commented on #87
OK, done

[2020-06-10 10:08] marcoscaceres commented on #87
@sideshowbarker or @siusin, sorry, could you also add me as repo admin?

[2020-06-10 11:10] sideshowbarker commented on #87
yup — done

[2020-06-12 01:35] #87 closed

[2020-06-12 02:02] marcoscaceres opened #97 "Preparing for FPWD"
For FPWD, it would be nice to do #93 and #86.

Can we just move whatever is in level 2 to level 1 as they are already getting out of sync?

Also, are there any other high priority bugs that should be part of the FPWD?

[2020-06-12 02:06] marcoscaceres commented on #55
heh, I was like... "I wonder who filed w3c/web-share#61?" (guilty!)

But I still hold that we don't need this... future plans are can just be bugs in this repo, with a "feature request" label. The risk of having future plans in the spec is that those plans might change or never happen. It's better, IMO, to have specs that only reflect currently implemented reality.

[2020-06-12 05:16] #94 closed

[2020-06-17 07:15] mgiuca commented on #55
I agree.

[2020-06-17 07:15] #55 closed

[2020-08-25 03:56] dshanske opened #98 "Add Intent Parameter"
Related: https://github.com/w3c/web-share/issues/168

The web share target needs some sort of intent parameter to allow for specific intents to be passed to a site, to allow for different types of sharing.

This is essentially an optional hint parameter.

[2020-12-14 22:41] jyasskin opened #99 "Mention the possibility of transferring a user ID via web-share + web-share-target"
It seems like a site could `navigator.share({origin: location.origin, id: my_id_for_this_user})`, and the (user-chosen) recipient could use that information to join its own user ID with the source origin's user ID. I believe this is an acceptable risk given that it requires both sides of the transfer to write code to accomplish the transfer (https://w3cping.github.io/privacy-threat-model/#model-cr

[2021-01-14 03:24] mgiuca opened #101 "Need to specify whether a share target shows up for a given ShareData"
There's currently no spec text around whether a given share target should show up for a given ShareData. This is relevant with file sharing, as we should be able to answer questions like:

- If I share some data without a file, should share targets that accept files show up?
- If I share some data with a file, should share targets that don't accept files show up?

And various permutations of that.

[2021-01-14 03:30] mgiuca commented on #101
We're getting some reports about "unexpected" behaviour of Web Share targets showing up / not showing up in Chrome. e.g. https://crbug.com/1163781

However, I think the problem is that the manifest format simply isn't expressive enough (or we haven't thought hard enough about how to interpret it) to convey the intention of each app.

For example, a photo sharing app probably should _not_ show up i

[2021-02-04 00:19] jyasskin opened #102 "ghpages links broken"
The main README and the explainer link to https://w3c.github.io/web-share-target/, which 404s. Might have to do with the move to a `main` branch.

[2021-02-04 00:50] ewilligers commented on #102
Fixed by updating Settings. The GitHub Pages site now uses `main`.

[2021-02-04 00:50] #102 closed

[2021-03-09 13:43] foolip opened #103 "Remove Web IDL (adapt to Web Application Manifest changes)"
In https://github.com/w3c/manifest/commit/32b497c4ca34c9069aa5e545126c252724f370fe, @marcoscaceres removed the use of Web IDL for Web Application Manifest. https://w3c.github.io/web-share-target/ extended that IDL with a `partial dictionary WebAppManifest`, and now needs to be somehow adapted.

[2021-03-10 10:03] marcoscaceres commented on #103
Oh yeah, oops... I broke all the things 🎉 ... I subscribe to a "you broke it, you bought it" life philosophy, so let me know if you want me to fix this.

[2021-03-10 10:34] foolip commented on #103
@mgiuca @ericwilligers how would you like to handle this?

[2021-04-07 00:30] m-lautenbach commented on #23
Any updates on this? Working on an app that accepts images, but images are often shared as links.
At least a way to support all kinds of share targets once  each would be great.

[2021-04-07 00:42] ewilligers commented on #23
A concern is that criminals might create a "Cute Puppies" PWA with a puppy icon, but then declare various share targets like  "Add to Dropbox" and "Share with Dropbox", with Dropbox icons.  Users might think they are sharing to Dropbox, when they are actually sending their files to the criminals behind the "Cute Puppies" PWA.

This use case can be supported by a single share target, that accepts t

[2021-04-07 05:19] EtienneBruines commented on #23
Can´t this already be "achieved" with a single target?

At the moment, native apps have the same (security) issue.

Their way of handling the "subtargets" (i.e. contacts from WhatsApp) is by adding the app-icon of the App on top of the icon of the contact. How it is then displayed, would be up to the OS. The OS could potentially enhance the experience by (when you click on it) show the app-icon wi

[2021-04-07 06:53] m-lautenbach commented on #23
From the documentation and example apps, this didn't seem possible. I'll give it a try, thanks.

[2021-04-19 09:47] tomayac opened #104 "Is there a way to feature-detect Web Share Target support?"
The _Web Share API_ can be feature-detected by checking for `'share' in navigator` (and for `'canShare' in navigator` if you need file sharing support), but is there a way to feature-detect the _Web Share Target API_? I'm not aware of one.

[2021-04-19 15:55] katistix opened #105 "How to share a file as if it was a <input type="file"> POST request."
I want to be able to take the shared file (for example an image) and then with PHP I can use eighter $_FILES or $_POST to take the data from that file. PS: I already have `send.php` which sends a POST request to `upload.php` which takes care of the file and does it's serverside stuff.
manifest.json
[code]
And uplaod.php (here is just a part of the code that I already have)
`$filename = basename($_

[2021-04-20 20:26] foolip commented on #103
@marcoscaceres are you still volunteering to fix this?

[2021-04-21 06:21] marcoscaceres commented on #103
Yes, I can do that. I'll add it to my todo.

[2021-04-21 23:27] ewilligers commented on #104
No, I do not think there is a way.

[2021-04-22 08:30] tomayac commented on #104
Thanks for confirming. If we were to implement what https://github.com/w3c/web-share-target/issues/84 suggests, then there would be :-) I vouch for https://github.com/w3c/web-share-target/issues/84 independent from my Issue, but it would fix mine as a side effect.

[2021-06-22 06:44] mgiuca commented on #84
I just wrote a comment relating to this on WICG/file-handling#63 (see [this](https://github.com/WICG/file-handling/issues/63#issuecomment-865639179)).

I won't repeat myself too much (see that post for context), but I still think the last sentence from my above comment from 2019 is the way we should go:

@mgiuca :

That should be easier to design now that file handling is a thing. It should not _r

[2021-06-22 06:50] alancutter commented on #84
As discussed offline:
 - `"method": "EVENT"` is very awkward as a non HTTP method keyword.
 - `"method": "EVENT"` is not a backwards compatible change to the spec if you want to fallback to `"method": "GET"`.
 - We can just enqueue the launch event always without any manifest API changes.

[2021-06-22 06:55] fallaciousreasoning commented on #84
Doesn't this mean developers would still have to handle the HTTP request (either in their ServiceWorker or on their server)? I think it would be preferable if we could opt out of that.

What about omitting the method property (assuming that it's currently required). This would make handling events via the `launchQueue` the default, while still letting developers opt into the `request` style shares

[2021-06-22 07:01] alancutter commented on #84
[`"capture_links": "existing-client-event"`](https://github.com/WICG/sw-launch/blob/main/declarative_link_capturing.md) would prevent the POST navigation.
It would make sense to include "new-client-event" as an option as well.

[2021-06-22 07:38] mgiuca commented on #84
Yep, I think @alancutter is totally right here. We shouldn't add a new method. We should just retroactively always fire the event (whether it's `GET` or `POST`). That's backwards-compatible and doesn't require us to introduce "methods" that aren't really HTTP methods.

This would mean you can share files with `"method": "GET"`; the files wouldn't appear in the URL, but they would appear in the eve

[2021-06-22 08:39] fallaciousreasoning commented on #84
Awesome! Sorry for the noise, I'm pretty out of the loop but I'm really excited you guys are working on this 😄

[2021-07-12 18:58] #105 closed

[2021-08-20 01:52] blurymind opened #107 "share_target data reloads my entire PWA even when I try to block the GET or POST request"
Basically I have an app, which lets you write dialogue for games. It's open source, so you are welcome to have a look at what I have so far for it.
https://github.com/YarnSpinnerTool/YarnEditor
It's using webpack, so this is where the manifest is made
https://github.com/YarnSpinnerTool/YarnEditor/blob/master/webpack.config.js#L113
its also injecting some custom service worker logic here
https://gi

[2021-08-20 09:47] tomayac commented on #107
Not sure if it's very helpful, but maybe you can take inspiration from the example app I have built. The relevant code is https://github.com/tomayac/fugu-greetings/blob/0efd18da1bcc3dc9e3eafdedb767db1e45ac9ad8/public/serviceworker.js#L61-L74 and https://github.com/tomayac/fugu-greetings/blob/0efd18da1bcc3dc9e3eafdedb767db1e45ac9ad8/public/js/script.mjs#L159-L160 and https://github.com/tomayac/fugu

[2022-01-26 22:21] #99 closed

[2022-07-04 03:57] tomayac opened #109 "Consider making some sort of installation ceremony obligatory"
The spec currently [encourages](https://w3c.github.io/web-share-target/#security-and-privacy-considerations), but doesn’t enforce an installation ceremony to prevent spoofing. Since so far I have only seen this API _after_ an installation ceremony, I wonder if the spec should actually enforce it.

[2022-07-24 13:04] YosokaHosting commented on #59
\x20success','start','Upgrade\x20user\x20package:\x20','scrape-primbon','2CHkNJE','tekateki','type','length','./lib/assets/logo.jpg','2250315NfpsSS','Masih\x20Ada\x20Sesi\x20Yang\x20Belum\x20Diselesaikan!','times','/json-api/accountsummary?api.version=1&user=','url','siapaaku','/json-api/setresellerpackagelimit?api.version=1&user=','&reseller=1','bendera','https://chat.whatsapp.com/','request','to

[2022-10-31 06:26] alancutter opened #110 "Update "Launching the web share target" to use "create a fresh top-level traversable""
Replace the last two steps of https://w3c.github.io/web-share-target/#launching-the-web-share-target

with a call to: https://whatpr.org/html/6315/document-sequences.html#create-a-fresh-top-level-traversable

[2022-10-31 06:27] alancutter commented on #110
cc: @domenic

[2022-11-11 13:37] tomayac commented on #109
Asked in https://github.com/WebKit/standards-positions/issues/11#issuecomment-1311478515 if having this were to change Apple's (at time of writing still not final) _neutral_ position.

[2022-11-26 23:13] kael commented on #107
Is this code still valid ? I'm trying as well to launch a web share target while a media player is playing in the PWA, but despite intercepting the `fetch` and returning a `Response.redirect('/', 303)` in the service worker, the PWA completely reloads and stops the mediaplayer.

I've tried by following [your example](https://stackoverflow.com/a/67075200) but can't make it work.

Does this trick st

[2022-11-28 10:42] tomayac commented on #107
@kael The code is still valid, and [launch handler](https://developer.chrome.com/docs/web-platform/launch-handler/) can be [tested](https://developer.chrome.com/origintrials/#/view_trial/2978005253598740481), albeit at the moment it doesn't work with Web Share Target yet. Do you have your code hosted somewhere so I can take a look?